<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bolado">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
      aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#"><img src="../img/logo-nav.png"></a>
  <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto text-left">
          <li class="nav-item active">
              <a class="nav-link" href="#">O Pnaic <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">Biblioteca</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">Avaliação</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">Atendimento</a>
          </li>
      </ul>

      <!-- <div class="col-sm-3 col-md-3 pull-right">
        <form class="navbar-form" role="search">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term">
            <div class="input-group-btn">
                <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
            </div>
        </div>
        </form>
        </div> -->
  </div>
</nav>