@import "./lib/fonts/gotham/stylesheet.css";

@font-face {
  font-family: 'icomoon';
  src:  url('lib/fonts/icomoon/icomoon.eot?wcwoqm');
  src:  url('lib/fonts/icomoon/icomoon.eot?wcwoqm#iefix') format('embedded-opentype'),
    url('lib/fonts/icomoon/icomoon.ttf?wcwoqm') format('truetype'),
    url('lib/fonts/icomoon/icomoon.woff?wcwoqm') format('woff'),
    url('lib/fonts/icomoon/icomoon.svg?wcwoqm#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-calendar:before {
  content: "\e900";
}
.icon-download:before {
  content: "\e901";
}
.icon-open-browser:before {
  content: "\e902";
}
.icon-share:before {
  content: "\e903";
}

* {
	font-family: 'Gotham';
	line-height: 1.2;
	color: #666
}

p, span{
	font-size: 14px;
	font-weight: 300;
}

.vcenter {
	display: inline-block;
	vertical-align: middle;
	float: none;
}

.megacenter {
	display: flex;
	justify-content: center;
	align-items: center;
}

.btn a{
	padding: 10px 30px;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	border-radius: 3px;
	text-decoration: none;
}

body {
	padding-top: 85px;
}

.container-box{
	background-color: #fff;
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
}
/*********** NAVBAR ***********/
.navbar{
	height: 85px;
	background-color: #fff;
	font-size: 14px;
	font-weight: 600;	
}

.navbar-inverse .navbar-nav .active>.nav-link{
	color: #666;
	opacity: 1;
	font-family: 'Gotham' !important;
	pointer-events: none;
	cursor: default;
}

.navbar-inverse .navbar-nav .nav-link {
	color: #666;
	opacity: 0.7;
	font-family: 'Gotham' !important;
}

.navbar-inverse .navbar-nav .nav-link:hover {
	color: #666;
	opacity: 0.5;
}

.navbar .navbar-brand{
	margin-left: 100px;
}

.navbar .navbar-brand img{
	height: 46px;
}


.navbar .collapse{
	margin-right: 100px;
}

.navbar-toggleable-md .navbar-nav .nav-link {
	padding-right: 1rem;
	padding-left: 1rem;
}

/*********** SEÇÃO 1 ***********/
#inicio .secao-1 {
	height: 360px;
	background: url(img/secao1-jumbo.png) left bottom no-repeat;
	background-size: cover;
	margin-bottom: 0;
	border-radius: 0;
	line-height: 1 !important;	
}

#inicio .secao-1 .titulo-container {
	margin: 60px 0 30px 0;
	line-height: 1 !important;		
}

#inicio .secao-1 .titulo-container .titulo {
	font-size: 40px;
	font-weight: bold;
	color: #fff; 
	line-height: 1 !important; 		
}

#inicio .secao-1 .titulo-container .subtitulo {
	margin-top: 10px;
	font-size: 16px; 
	font-weight: bold;
	color: #fff; 	
	line-height: 1.2;

}

#inicio .secao-1 .busca span {
	color: #fff;
}	

#inicio .secao-1 .busca .form-inline {
	margin-bottom: 12px;
}	

#inicio .secao-1 .busca .form-control {
	height: 45px;
	border-radius: 5px 0 0 5px;
	border: 1px solid #fff;
	font-weight: 300;
	width: calc(100% - 55px);
}

#inicio .secao-1 .busca .form-btn {
	height: 45px;
	border-radius: 0 5px 5px 0;
	background-color: #df0031;
	color: #fff;
	width: 55px;
}

#inicio .secao-1 .busca .form-btn i {
	font-size: 20px;
	color: #fff;
}

/*********** SEÇÃO 2 ***********/

#inicio .secao-2 {
	background-color: #fff;
	height: 350px;
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
}

#inicio .secao-2 .boxes{
	height: 320px;
	padding: 30px 40px 0 40px;		
}

#inicio .secao-2 .boxes .titulo{
	margin-bottom: 30px;
	line-height: 1;
}

#inicio .secao-2 .boxes .titulo span{
	line-height: 1;
	font-size: 18px;
	font-weight: bold;
	color: #fff;
}

#inicio .secao-2 .boxes .texto p{
	font-size: 15px;
	line-height: 1.2 !important;
	color: #fff;	
}

#inicio .secao-2 .boxes .box-azul{
	height: 260px;
	background-color: #4baee7;
	padding: 30px 40px;
	font-size: 16px;
	color: #fff;
	border-radius: 3px;
}

#inicio .secao-2 .boxes .box-verde{
	height: 260px;
	background-color: #8bc63e;
	padding: 30px 40px;
	font-size: 16px;
	color: #fff;
	border-radius: 3px;
}

#inicio .secao-2 .boxes .box-verde .btn a{;
	background-color: #fff;
	padding: 10px 30px;
	font-size: 16px;
	font-weight: bold;
	color: #8bc63e;
	border-radius: 3px;
	text-decoration: none;
}

#inicio .secao-2 .boxes .box-verde .btn a:hover{;
	opacity: 0.9;
}

.faixa{
	height: 10px;
	overflow: hidden;
	background: url(img/secao-2-faixa.png);
	background-size: contain;
}

/*********** SEÇÃO 3 ***********/
#inicio .secao-3{
	padding: 60px 15px;
	background-color: #f1f1f1;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25); 
}

#inicio .secao-3 .titulo{	
	margin-bottom: 15px;
}
#inicio .secao-3 .titulo span{
	color: #347abd;
	font-size: 22px;
	font-weight: 600;
}

#inicio .secao-3 .subtitulo{	
	margin-bottom: 60px;
}
#inicio .secao-3 .subtitulo p{
	color: #666;
	font-size: 15px;
	font-weight: 300;
}

#inicio .secao-3 .material-de-formacao{
	height: 360px;
	background-color: #fff;
	padding: 45px 15px;
	margin-bottom: 20px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
}

#inicio .secao-3 .material-de-formacao .sobre{
	padding-top: 15px;
}

#inicio .secao-3 .material-de-formacao .sobre .titulo{
	margin-bottom: 30px;
}

#inicio .secao-3 .material-de-formacao .sobre .infos{
	margin-bottom: 15px;
}

#inicio .secao-3 .material-de-formacao .sobre .texto{
	margin-bottom: 25px;
}

#inicio .secao-3 .material-de-formacao .sobre .titulo span{
	font-size: 23px;
	font-weight: 300;
	color: #666;
}

#inicio .secao-3 .material-de-formacao .sobre .infos span{
	font-size: 14px;
}

#inicio .secao-3 .material-de-formacao .sobre .texto p{
	font-size: 14px;
}

#inicio .secao-3 .material-de-formacao .sobre .btn a{
	background-color: #4baee7;
	padding: 10px 30px;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	border-radius: 3px;
	text-decoration: none;
}

#inicio .secao-3 .material-de-formacao .sobre .btn a:hover{
	opacity: 0.9;
}

/*********** SEÇÃO 4 ***********/

#inicio .secao-4{
	padding: 55px 15px;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
}

#inicio .secao-4 .titulo{	
	margin-bottom: 35px;
}
#inicio .secao-4 .titulo span{
	color: #347abd;
	font-size: 22px;
	font-weight: 600;
}

#inicio .secao-4 .subtitulo{	
	margin-bottom: 45px;
}
#inicio .secao-4 .subtitulo p{
	color: #666;
	font-size: 15px;
	font-weight: 300;
}

#inicio .secao-4 .row.posts{
	margin-bottom: 40px;
}

#inicio .secao-4 .ver-todos-posts .btn a{
	background-color: #4baee7;
	padding: 10px 30px;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	border-radius: 3px;
	text-decoration: none;
}

#inicio .secao-4 .ver-todos-posts .btn a:hover{
	opacity: 0.9;
}

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx RODAPÉ xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

#footer {
	background-color: #434343;
}

#footer img{
	height: 50px;
	margin: 30px 0;
}

#footer .links {
	line-height: 110px;
	text-align: center;
	color: #fff;
	margin: 0;    
	font-size: 14px;
}

#footer .links>li {
	padding: 0;
	display: inline-block;    
	color: #fff;
	font-weight: 300;
}

#footer .links a {
	font-size: 14px;
	color: #fff;
	font-weight: 300;
}

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx CARD-MATERIAL-DE-FORMAÇÃO xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

.card-material-de-formacao{
	height: 270px;
	width: 186px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
	margin: 6px;
}

.card-material-de-formacao .thumb{
	height: 175px;
	background-size: cover !important;
}

.card-material-de-formacao .dados{
	height: 95px;
	background-color: #fff;
	padding: 10px;
}

.card-material-de-formacao .dados .titulo{
	margin-bottom: 15px;
}

.card-material-de-formacao .dados .titulo span{
	font-size: 14px !important; 
	font-weight: 600 !important;
	color: #666 !important;
	text-transform: uppercase;
}

.card-material-de-formacao .dados .subtitulo{
}

.card-material-de-formacao .dados .subtitulo span{
	font-size: 13px;
	font-weight: 300;
}

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx CARD-POST xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

.card-post{
	height: 365px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
}

.card-post .thumb{
	height: 235px;
	background-size: cover !important;
}

.card-post .dados{
	height: 80px;
	background-color: #fff;
	padding: 10px;
}

.card-post .dados .titulo{
	margin-bottom: 15px;
}

.card-post .dados .titulo span{
	font-size: 13px !important;
	font-weight: 600;
	text-transform: uppercase;
}

.card-post .rodape{
	height: 50px;
}

.card-post .rodape .data-publicacao{
	border-right: 1px solid #eee;
}

.card-post .rodape .data-publicacao span{
	font-size: 12px;
	font-weight: 300;
}

.card-post .rodape .btn{
	border-radius: 0;
	border: none;
}

.card-post .rodape .btn a{
	font-size: 14px;
	font-weight: 600;
	/*background-color: #fff;*/
	width: 100%;
	color: #8bc63e;
	height: 100%;
	/*padding: 16px 0;*/
}

.card-post .rodape .btn a .text{
	font-size: 14px;
	font-weight: 600;
	/*background-color: #fff;*/
	color: #8bc63e;
	/*padding: 16px 0;*/
}
.card-post .rodape .btn a .icon{
	font-size: 20px;	
	color: #8bc63e;
}

.card-post .rodape .btn a:hover{
	background-color: #8bc63e;
	width: 100%;
	color: #fff;
	border-radius: 0;
	/*padding: 17px 0;*/
	text-decoration: none;
}

.card-post .rodape .btn a:hover .icon, .card-post .rodape .btn a:hover .text{
	color: #fff;
}

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx [PAGINA] MATERIAL-DE-FORMAÇÃO xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

/*********** SEÇÃO 1 ***********/
#material-de-formacao .secao-1 {
	background-color: #324099;
	height: 230px;
	background: url(img/ab-full.png) right bottom no-repeat #324099;
	background-size: contain;
	margin-bottom: 0;
	border-radius: 0;
	line-height: 1 !important;
	padding: 64px 0;	
}

#material-de-formacao .secao-1 .titulo-container {
	line-height: 1 !important;
	margin-top: 46px;		
}

#material-de-formacao .secao-1 .titulo-container .titulo {
	font-size: 20px;
	font-weight: 300;
	color: #fff; 
	line-height: 1 !important; 		
}

#material-de-formacao .secao-1 .titulo-container .titulo strong {
	font-weight: 600;
	color: #fff;		
}

/*********** SEÇÃO 2 ***********/

#material-de-formacao .secao-2{
	background-color: #f1f1f1;
}

#material-de-formacao .secao-2 .container-box{
	top: -45px;
} 

#material-de-formacao .secao-2 .cabecalho{
	height: 85px;
	border-bottom: 1px solid rgba(0,0,0,.1);
	margin-bottom: 35px;
}

#material-de-formacao .secao-2 .cabecalho .titulo {
	justify-content: left;
}

#material-de-formacao .secao-2 .cabecalho .titulo span{
	text-transform: uppercase;
	font-size: 26px;
	margin-left: 35px;
}

#material-de-formacao .secao-2 .cabecalho .quantidade-cadernos span{
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 600;
}

#material-de-formacao .secao-2 .cabecalho .compartilhamento i{
	font-size: 24px;
	font-weight: 300;
}

#material-de-formacao .secao-2 .conteudo{
	height: 500px;
}

#material-de-formacao .secao-2 .conteudo .titulo{
	font-size: 15px;
	font-weight: 600;
	text-transform: uppercase;
}

#material-de-formacao .secao-2 .conteudo .texto{
	font-size: 14px;
	font-weight: 300;
	margin-top: 25px;
}

#material-de-formacao .secao-2 .conteudo .sobre{
	margin-bottom: 50px;
}

#material-de-formacao .secao-2 .conteudo .historico{
	margin-bottom: 35px;
}

#material-de-formacao .secao-2 .data-publicacao span strong{
	font-weight: 600;
}


#material-de-formacao .secao-2 .conteudo .thumb{
	height: 270px;
	background-size: cover !important;
	margin-bottom: 20px; 
}

#material-de-formacao .secao-2 .conteudo .tags span{
	color: #fff;
	background-color: #4baee7;  
	font-size: 13px;
	font-weight: 600;
	padding: 10px;
	border-radius: 20px;
	text-decoration: none;
	margin: 0 10px 5px 0;
}

#material-de-formacao .secao-2 .conteudo .tags{
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-orient: horizontal;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-box-direction: normal;
	box-sizing: border-box;
	display: flex;
}


/*********** SEÇÃO 3 ***********/
#material-de-formacao .secao-3{
	background-color: #f1f1f1;
	padding-bottom: 30px;
}

#material-de-formacao .secao-3 .titulo span{
	font-size: 15px;
	font-weight: 600;
}

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx [PAGINA] CADERNO xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

/*********** SEÇÃO 1 ***********/
#caderno .secao-1 {
	background-color: #324099;
	height: 230px;
	background: url(img/ab-full.png) right bottom no-repeat #324099;
	background-size: contain;
	margin-bottom: 0;
	border-radius: 0;
	line-height: 1 !important;
	padding: 64px 0;	
}

#caderno .secao-1 .titulo-container {
	line-height: 1 !important;
	margin-top: 46px;		
}

#caderno .secao-1 .titulo-container .titulo {
	font-size: 20px;
	font-weight: 300;
	color: #fff; 
	line-height: 1 !important; 		
}

#caderno .secao-1 .titulo-container .titulo strong {
	font-weight: 600;
	color: #fff;		
}

/*********** SEÇÃO 2 ***********/

#caderno{
	background-color: #f1f1f1;
}

#caderno .secao-2{
	background-color: #f1f1f1;
	height: 100%;
}

#caderno .secao-2 .container-box{
	top: -45px;	
	/*border-bottom: 10px solid #4baee7;*/
} 

#caderno .secao-2 .cabecalho{
	height: 85px;
	border-bottom: 1px solid rgba(0,0,0,.1);
	margin-bottom: 50px;
}

#caderno .secao-2 .cabecalho .titulo {
	justify-content: left;
}

#caderno .secao-2 .cabecalho .titulo span{
	text-transform: uppercase;
	font-size: 26px;
	font-weight: 300;
	margin-left: 35px;
}

#caderno .secao-2 .cabecalho .quantidade-cadernos span{
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 600;
}

#caderno .secao-2 .cabecalho .compartilhamento i{
	font-size: 24px;
	font-weight: 300;
}

#caderno .secao-2 .conteudo{
	/*height: 500px;*/
}

#caderno .secao-2 .conteudo .titulo{
	font-size: 15px;
	font-weight: 600;
	text-transform: uppercase;
}

#caderno .secao-2 .conteudo .texto{
	font-size: 14px;
	font-weight: 300;
	margin-top: 50px;
}

#caderno .secao-2 .conteudo .sobre{
	margin-bottom: 35px;
}

#caderno .secao-2 .conteudo .sobre .citacao{	
	text-align: center !important;
}

#caderno .secao-2 .conteudo .sobre .citacao span{	
	font-weight: 600;
}

#caderno .secao-2 .autores-data span strong{
	font-weight: 600;
}

#caderno .secao-2 .autores-data{
	margin-bottom: 50px !important;
}

#caderno .secao-2 .conteudo .tags span{
	color: #fff;
	background-color: #4baee7;  
	font-size: 13px;
	font-weight: 600;
	padding: 10px;
	border-radius: 20px;
	text-decoration: none;
	margin: 0 10px 5px 0;
}

#caderno .secao-2 .conteudo .tags{
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-orient: horizontal;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-box-direction: normal;
	box-sizing: border-box;
	display: flex;
	margin-bottom: 35px;
}

#caderno .secao-2 .conteudo .thumb-container{
	padding-bottom: 20px; 
}

#caderno .secao-2 .conteudo .thumb{
	height: 100%;
	background-size: cover !important;
}

#caderno .secao-2 .rodape {
	height: 95px;
	border-top: 1px solid rgba(0,0,0,.1);
	margin-bottom: 35px;
	border-bottom: 10px solid #4baee7;
}

#caderno .secao-2 .rodape .titulo {
	justify-content: left;
}

#caderno .secao-2 .rodape .titulo span{
	text-transform: uppercase;
	font-size: 15px;
	margin-left: 35px;
}

#caderno .secao-2 .rodape .titulo a{
	font-weight: 600;
	text-decoration: none;
	color: #4baee7;
}

#caderno .secao-2 .rodape .btn a{
	background-color: purple;
}

#caderno .secao-2 .rodape .compartilhamento i{
	font-size: 24px;
	font-weight: 300;
}

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx [PAGINA] SINGLE-POST xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

/*********** SEÇÃO 1 ***********/
#single-post {
	background-color: #f1f1f1;
}
#single-post .secao-1 {
	background-color: #fdca01;
	height: 230px;
	background: url(img/ab-white.png) right bottom no-repeat #fdca01;
	background-size: contain;
	margin-bottom: 0;
	border-radius: 0;
	line-height: 1 !important;
	padding: 64px 0;
}

#single-post .secao-1 .titulo-container {
	line-height: 1 !important;
	margin-top: 46px;		
}

#single-post .secao-1 .titulo-container .titulo {
	font-size: 20px;
	font-weight: 300;
	color: #fff; 
	line-height: 1 !important; 		
}

#single-post .secao-1 .titulo-container .titulo strong {
	font-weight: 600;
	color: #fff;		
}

/*********** SEÇÃO 2 ***********/

#single-post .secao-2{
	background-color: #f1f1f1;
}

#single-post .secao-2 .principal, #single-post .secao-2 .sidebar-single{
	top: -45px;
}

#single-post .secao-2 .principal .cabecalho{
	min-height: 300px;
	border-bottom: 1px solid rgba(0,0,0,.1);
	margin: 0;
	padding:15px;
}

#single-post .secao-2 .principal .container-box{
	border-bottom: 10px solid #fdca01;
}

#single-post .secao-2 .sidebar-single .cabecalho{
	min-height: 75px;
	border-bottom: 1px solid rgba(0,0,0,.1);
	margin: 0;
	padding:15px;
}

#single-post .secao-2 .sidebar-single .conteudo{
	padding: 25px;
}

#single-post .secao-2 .sidebar-single .conteudo .menu a{
	font-size: 14px;
	font-weight: 300;
	color: #666;
}

#single-post .secao-2 .principal .cabecalho .imagem{
	height: 225px;
	background-position: center center !important;
	background-size: cover !important;
}

#single-post .secao-2 .principal .cabecalho .titulo {
	padding: 25px 0;
	justify-content: left;
}

#single-post .secao-2 .principal .rodape-cabecalho {
	height: 50px;
	border-bottom: 1px solid rgba(0,0,0,.1);
	margin-bottom: 25px !important;
}

#single-post .secao-2 .sidebar-single .cabecalho .titulo {
	justify-content: left;
}

#single-post .secao-2 .cabecalho .titulo span{
	text-transform: uppercase;
	font-size: 16px;
	font-weight: bold;
	/*margin-left: 25px;*/
}

#single-post .secao-2 .rodape-cabecalho .btn{
	border-radius: 0;
	border: none;
	height: 100%;
}

#single-post .secao-2 .rodape-cabecalho .btn a{
	font-size: 14px;
	font-weight: 600;
	background-color: #8bc63e;
	width: 100%;
	height: 100%;
	color: #fff;
	/*padding: 16px 0;*/
	border-radius: 0;
}

#single-post .secao-2 .rodape-cabecalho .btn a .text{
	font-size: 14px;
	font-weight: 600;
	/*background-color: #fff;*/
	color: #fff;
	/*padding: 16px 0;*/
}
#single-post .secao-2 .rodape-cabecalho .btn a .icon{
	font-size: 20px;	
	color: #fff;
}

#single-post .secao-2 .rodape-cabecalho .btn a:hover{
	width: 100%;
	text-decoration: none;
	opacity: 0.8;
}

#single-post .secao-2 .conteudo{
	/*min-height: 500px;*/
	padding: 0 15px;
}

#single-post .secao-2 .conteudo .titulo{
	font-size: 15px;
	font-weight: 600;
	text-transform: uppercase;
}

#single-post .secao-2 .conteudo .texto{
	font-size: 14px;
	font-weight: 300;
	margin-top: 25px;
}

#single-post .secao-2 .conteudo .sobre{
	padding-bottom: 9px;
	border-bottom: 1px solid rgba(0,0,0,.1);
}

#single-post .secao-2 .principal .conteudo .compartilhar{
	height: 70px;
}

#single-post .secao-2 .principal .conteudo .compartilhar.btn a{
	font-size: 14px;
	font-weight: 600;
	color: #666;
	padding: 16px 0;
	border-radius: 0;
}

#single-post .secao-2 .principal .conteudo .compartilhar.btn a i{
	font-size: 22px;		
	color: #666;
}

#single-post .secao-2 .principal .conteudo .compartilhar.btn a:hover{
	text-decoration: none;
	opacity: 0.8;
}

#single-post .secao-2 .conteudo .historico{
	margin-bottom: 35px;
}

#single-post .secao-2 .data-publicacao span strong{
	font-weight: 600;
}


#single-post .secao-2 .conteudo .thumb{
	height: 270px;
	background-size: cover !important;
	margin-bottom: 20px; 
}

#single-post .secao-2 .conteudo .tags span{
	color: #fff;
	background-color: #4baee7;  
	font-size: 13px;
	font-weight: 600;
	padding: 10px;
	border-radius: 20px;
	text-decoration: none;
	margin: 0 10px 5px 0;
}

#single-post .secao-2 .conteudo .tags{
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-orient: horizontal;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-box-direction: normal;
	box-sizing: border-box;
	display: flex;
}


/*********** SEÇÃO 3 ***********/
#single-post .secao-3{
	background-color: #f1f1f1;
}

#single-post .secao-3 .titulo span{
	font-size: 15px;
	font-weight: 600;
}


/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx [PAGINA] LOOP-POST xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

/*********** SEÇÃO 1 ***********/
#loop-post {
	background-color: #f1f1f1;
}
#loop-post .secao-1 {
	background-color: #fdca01;
	height: 230px;
	background: url(img/ab-white.png) right bottom no-repeat #fdca01;
	background-size: contain;
	margin-bottom: 0;
	border-radius: 0;
	line-height: 1 !important;
	padding: 64px 0;
}

#loop-post .secao-1 .titulo-container {
	line-height: 1 !important;
	margin-top: 46px;		
}

#loop-post .secao-1 .titulo-container .titulo {
	font-size: 20px;
	font-weight: 300;
	color: #fff; 
	line-height: 1 !important; 		
}

#loop-post .secao-1 .titulo-container .titulo strong {
	font-weight: 600;
	color: #fff;		
}

/*********** SEÇÃO 2 ***********/

#loop-post .secao-2{
	background-color: #f1f1f1;
}

#loop-post .secao-2 .principal, #loop-post .secao-2 .sidebar-single{
	top: -45px;
}

#loop-post .secao-2 .principal .cabecalho{
	min-height: 300px;
	border-bottom: 1px solid rgba(0,0,0,.1);
	margin: 0;
	padding:15px;
}

#loop-post .secao-2 .principal .container-box{
	/*border-bottom: 10px solid #fdca01;*/
	height: 235px;
}

#loop-post .secao-2 .principal .thumb .imagem{
	/*border-bottom: 10px solid #fdca01;*/
	height: 235px;
	background-position: top center !important;
	background-size: cover !important;
}

#loop-post .secao-2 .principal .infos .conteudo{
	height: 185px;
	padding: 20px;
}

#loop-post .secao-2 .principal .infos .conteudo .titulo span{
	font-weight: 600;
	font-size: 15px;
	text-transform: uppercase;
}

#loop-post .secao-2 .sidebar-single .cabecalho{
	min-height: 75px;
	border-bottom: 1px solid rgba(0,0,0,.1);
	margin: 0;
	padding:15px;
}

#loop-post .secao-2 .sidebar-single .conteudo{
	padding: 25px;
}

#loop-post .secao-2 .sidebar-single .conteudo .menu a{
	font-size: 14px;
	font-weight: 300;
	color: #666;
}

#loop-post .secao-2 .principal .cabecalho .imagem{
	height: 225px;
	background-position: center center !important;
	background-size: cover !important;
}

#loop-post .secao-2 .principal .rodape-cabecalho {
	height: 50px;
	border-top: 1px solid rgba(0,0,0,.1);
	margin-bottom: 25px !important;
}

#loop-post .secao-2 .sidebar-single .cabecalho .titulo {
	justify-content: left;
}

#loop-post .secao-2 .sidebar-single .cabecalho .titulo span{
	text-transform: uppercase;
	font-size: 16px;
	font-weight: bold;
	/*margin-left: 25px;*/
}

#loop-post .secao-2 .rodape-cabecalho .btn{
	border-radius: 0;
	border: none;
}

#loop-post .secao-2 .rodape-cabecalho .btn a{
	font-size: 14px;
	font-weight: 600;
	background-color: #fff;
	width: 100%;
	color: #8bc63e;
	padding: 16px 0;
	border-radius: 0;
	border-left: 1px solid #eee;
}

#loop-post .secao-2 .rodape-cabecalho .btn a i{
	font-size: 16px;		
	color: #8bc63e;
}

#loop-post .secao-2 .rodape-cabecalho .btn a:hover i{
	font-size: 16px;		
	color: #fff;
}

#loop-post .secao-2 .rodape-cabecalho .btn a:hover{
	width: 100%;
	text-decoration: none;
	opacity: 0.8;
	color: #fff;
	background-color: #8bc63e;
}

#loop-post .secao-2 .conteudo .texto{
	font-size: 14px;
	font-weight: 300;
	margin-top: 15px;
}

#loop-post .secao-2 .conteudo .sobre{
	padding-bottom: 9px;
	border-bottom: 1px solid rgba(0,0,0,.1);
}

#loop-post .secao-2 .data-publicacao span strong{
	font-weight: 600;
}

#loop-post .card-loop-post{
	margin-bottom: 15px !important;
}

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx [PAGINA] BUSCA xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

/*********** SEÇÃO 1 ***********/
#busca .secao-1 {
	background-color: #324099;
	height: 360px;
	background: url(img/secao-1-img.png) left bottom no-repeat #324099;
	background-size: contain;
	margin-bottom: 0;
	border-radius: 0;
	line-height: 1 !important;	
}

#busca .secao-1 .titulo-container {
	margin: 60px 0 40px 0;
	line-height: 1 !important;		
}

#busca .secao-1 .titulo-container .titulo {
	font-size: 55px;
	font-weight: bold;
	color: #83c3ef; 
	line-height: 1 !important; 		
}

#busca .secao-1 .titulo-container .subtitulo {
	margin-top: 10px;
	font-size: 16px; 
	font-weight: bold;
	color: #fff; 	
	line-height: 1.2;

}

#busca .secao-1 .busca span {
	color: #fff;
}	

#busca .secao-1 .busca .form-inline {
	margin-bottom: 12px;
}	

#busca .secao-1 .busca .form-control {
	height: 45px;
	border-radius: 5px 0 0 5px;
	border: 1px solid #fff;
	width: calc(100% - 55px);
}

#busca .secao-1 .busca .form-btn {
	height: 45px;
	border-radius: 0 5px 5px 0;
	background-color: #df0031;
	color: #fff;
	width: 55px;
}

#busca .secao-1 .busca .form-btn i {
	font-size: 20px;
	color: #fff;
}

/*********** SEÇÃO 2 ***********/

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx [PAGINA] ABOUT xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

/*********** SEÇÃO 1 ***********/
#about .secao-1 {
	background-color: #324099;
	height: 230px;
	/*background: url(img/ab-full.png) right bottom no-repeat #324099;*/
	background: url(img/ab-white.png) right bottom no-repeat #4DC300;
	background-size: contain;
	margin-bottom: 0;
	border-radius: 0;
	line-height: 1 !important;
	padding: 64px 0;	
}

#about .secao-1 .titulo-container {
	line-height: 1 !important;
	margin-top: 46px;		
}

#about .secao-1 .titulo-container .titulo {
	font-size: 20px;
	font-weight: 300;
	color: #fff; 
	line-height: 1 !important; 		
}

#about .secao-1 .titulo-container .titulo strong {
	font-weight: 600;
	color: #fff;		
}

/*********** SEÇÃO 2 ***********/

#about .secao-2{
	background-color: #f1f1f1;
}

#about .secao-2 .container-box{
	top: -45px;
	padding: 40px;
	border-bottom: 10px solid #4DC300;
} 

#about .secao-2 .conteudo{
	/*height: 500px;*/
}

#about .secao-2 .conteudo .titulo{
	font-size: 15px;
	font-weight: 600;
	text-transform: uppercase;
}

#about .secao-2 .conteudo .texto{
	font-size: 14px;
	font-weight: 300;
	margin-top: 25px;}


#about .secao-2 .data-publicacao span strong{
	font-weight: 600;
}

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx [PAGINA] ACCESSIBILITY xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

/*********** SEÇÃO 1 ***********/
#accessibility .secao-1 {
	background-color: #324099;
	height: 230px;
	/*background: url(img/ab-full.png) right bottom no-repeat #324099;*/
	background: url(img/ab-white.png) right bottom no-repeat #4BAEE7;
	background-size: contain;
	margin-bottom: 0;
	border-radius: 0;
	line-height: 1 !important;
	padding: 64px 0;	
}

#accessibility .secao-1 .titulo-container {
	line-height: 1 !important;
	margin-top: 46px;		
}

#accessibility .secao-1 .titulo-container .titulo {
	font-size: 20px;
	font-weight: 300;
	color: #fff; 
	line-height: 1 !important; 		
}

#accessibility .secao-1 .titulo-container .titulo strong {
	font-weight: 600;
	color: #fff;		
}

/*********** SEÇÃO 2 ***********/

#accessibility .secao-2{
	background-color: #f1f1f1;
}

#accessibility .secao-2 .container-box{
	top: -45px;
	padding: 40px;
	border-bottom: 10px solid #4BAEE7;
} 

#accessibility .secao-2 .conteudo{
	/*height: 500px;*/
}

#accessibility .secao-2 .conteudo .titulo{
	font-size: 15px;
	font-weight: 600;
	text-transform: uppercase;
}

#accessibility .secao-2 .conteudo .texto{
	font-size: 14px;
	font-weight: 300;
	margin-top: 25px;}


#accessibility .secao-2 .data-publicacao span strong{
	font-weight: 600;
}

.copy-button {
	padding: 5.5px !important;
	cursor: pointer;
}