@font-face {
	font-family: 'Gotham';
	src: url('Gotham-ThinItalic.eot');
	src: url('Gotham-ThinItalic.eot?#iefix') format('embedded-opentype'),
		url('Gotham-ThinItalic.woff') format('woff'),
		url('Gotham-ThinItalic.ttf') format('truetype');
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: 'Gotham Book';
	src: url('Gotham-Book.eot');
	src: url('Gotham-Book.eot?#iefix') format('embedded-opentype'),
		url('Gotham-Book.woff') format('woff'),
		url('Gotham-Book.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham Book';
	src: url('Gotham-BookItalic.eot');
	src: url('Gotham-BookItalic.eot?#iefix') format('embedded-opentype'),
		url('Gotham-BookItalic.woff') format('woff'),
		url('Gotham-BookItalic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Gotham';
	src: url('Gotham-BoldItalic.eot');
	src: url('Gotham-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('Gotham-BoldItalic.woff') format('woff'),
		url('Gotham-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Gotham';
	src: url('Gotham-Thin.eot');
	src: url('Gotham-Thin.eot?#iefix') format('embedded-opentype'),
		url('Gotham-Thin.woff') format('woff'),
		url('Gotham-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham Extra';
	src: url('Gotham-ExtraLightItalic.eot');
	src: url('Gotham-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
		url('Gotham-ExtraLightItalic.woff') format('woff'),
		url('Gotham-ExtraLightItalic.ttf') format('truetype');
	font-weight: 200;
	font-style: italic;
}

@font-face {
	font-family: 'Gotham Ultra';
	src: url('Gotham-Ultra.eot');
	src: url('Gotham-Ultra.eot?#iefix') format('embedded-opentype'),
		url('Gotham-Ultra.woff') format('woff'),
		url('Gotham-Ultra.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham';
	src: url('Gotham-Medium.eot');
	src: url('Gotham-Medium.eot?#iefix') format('embedded-opentype'),
		url('Gotham-Medium.woff') format('woff'),
		url('Gotham-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham';
	src: url('Gotham-Black.eot');
	src: url('Gotham-Black.eot?#iefix') format('embedded-opentype'),
		url('Gotham-Black.woff') format('woff'),
		url('Gotham-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham Ultra';
	src: url('Gotham-UltraItalic.eot');
	src: url('Gotham-UltraItalic.eot?#iefix') format('embedded-opentype'),
		url('Gotham-UltraItalic.woff') format('woff'),
		url('Gotham-UltraItalic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Gotham';
	src: url('Gotham-BlackItalic.eot');
	src: url('Gotham-BlackItalic.eot?#iefix') format('embedded-opentype'),
		url('Gotham-BlackItalic.woff') format('woff'),
		url('Gotham-BlackItalic.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'Gotham';
	src: url('Gotham-Light.eot');
	src: url('Gotham-Light.eot?#iefix') format('embedded-opentype'),
		url('Gotham-Light.woff') format('woff'),
		url('Gotham-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham';
	src: url('Gotham-Bold.eot');
	src: url('Gotham-Bold.eot?#iefix') format('embedded-opentype'),
		url('Gotham-Bold.woff') format('woff'),
		url('Gotham-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham Extra';
	src: url('Gotham-ExtraLight.eot');
	src: url('Gotham-ExtraLight.eot?#iefix') format('embedded-opentype'),
		url('Gotham-ExtraLight.woff') format('woff'),
		url('Gotham-ExtraLight.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham';
	src: url('Gotham-LightItalic.eot');
	src: url('Gotham-LightItalic.eot?#iefix') format('embedded-opentype'),
		url('Gotham-LightItalic.woff') format('woff'),
		url('Gotham-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Gotham';
	src: url('Gotham-MediumItalic.eot');
	src: url('Gotham-MediumItalic.eot?#iefix') format('embedded-opentype'),
		url('Gotham-MediumItalic.woff') format('woff'),
		url('Gotham-MediumItalic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
}
